option_settings:
    aws:elasticbeanstalk:application:environment:
        "PYTHONPATH": "/var/app/current/probetspp:$PYTHONPATH"
        "ALLOWED_HOSTS": "probetspp-prod.us-east-1.elasticbeanstalk.com"
        "TELEGRAM_PHONE_NUMBER": "+573222709439"
        "TELEGRAM_API_ID": "2195794"
        "TELEGRAM_API_HASH": "a967fb0d2b245be9b475ab72ba5c0007"
        "TELEGRAM_CHANNEL_NAME": "ProbetsPP"
        "BUCKET_FILES": "probetspp-production-files"
    aws:elasticbeanstalk:container:python:
        WSGIPath: probetspp.probetspp.wsgi:application