container_commands:
      01_migrate:
        command: "python probetspp/manage.py migrate --noinput"
        leader_only: true
      02_createsu:
        command: "python probetspp/manage.py createsu"
        leader_only: true
option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "probetspp.settings.production"
        "PYTHONPATH": "/var/app/current/probetspp:$PYTHONPATH"
        "ALLOWED_HOSTS": "probetspp-prod.us-east-1.elasticbeanstalk.com"
        "TELEGRAM_PHONE_NUMBER": "+573222709439"
        "TELEGRAM_API_ID": "2195794"
        "TELEGRAM_API_HASH": "a967fb0d2b245be9b475ab72ba5c0007"
        "TELEGRAM_CHANNEL_NAME": "ProbetsPP"
    aws:elasticbeanstalk:container:python:
        WSGIPath: probetspp.probetspp.wsgi:application