container_commands:
    01_createdirs:
        command: "mkdir -p /tmp/probetspp/info_pages/flash && mkdir -p /tmp/probetspp/datasets && chmod 777 -R /tmp/probetspp"
    02_chmd:
        command: "chmod +x .platform/hooks/predeploy/migrate.sh && chmod +x .platform/hooks/predeploy/config_browser.sh"
option_settings:
    aws:elasticbeanstalk:application:environment:
        "PYTHONPATH": "/var/app/current:$PYTHONPATH"
        "ENVIRONMENT": "production"
        "AWS_REGION": "us-west-1"
        "AWS_DEFAULT_QUEUE_NAME": "probetspp_queue"
        "DRIVER_PATH": "/usr/bin/chromedriver"
        "ALLOWED_HOSTS": "probetspp-prod.us-east-1.elasticbeanstalk.com"
        "TELEGRAM_PHONE_NUMBER": "+573222709439"
        "TELEGRAM_API_ID": "2195794"
        "TELEGRAM_API_HASH": "a967fb0d2b245be9b475ab72ba5c0007"
        "TELEGRAM_CHANNEL_NAME": "ProbetsPP"
        "BUCKET_FILES": "probetspp-production-files"
        "FILES_PATH": "/tmp/probetspp/"
        "SENTRY_URL": "https://d71656247d85426e98e7a8008a8873fe@o549548.ingest.sentry.io/5672457"
    aws:elasticbeanstalk:container:python:
        WSGIPath: probetspp.probetspp.wsgi:application